<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="konkuk.scheduledeca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sensing"
            android:label="sensing">
        </activity>
        <activity
            android:name=".activityList"
            android:label="activityList">
        </activity>
        <activity
            android:name=".changeActivity"
            android:label="changeActivity">
        </activity>
        <activity
            android:name=".InsertActivity"
            android:label="InsertActivity">
        </activity>
        <activity
            android:name=".DrawSchedule"
            android:label="DrawSchedule">
        </activity>
        <activity
            android:name=".memoActivity"
            android:label="memoActivity">
        </activity>

    </application>

</manifest>
